# Build outputs
build/
build_linux/
alliedmodders/hl2sdk-proxy-repo

.vs/
Debug/
Release/
x64/
*.vcxproj.user

# SourceMod compiled plugins
*.smx

dist/dirtbot/Black Mesa/bms/addons/rcbot2/config/
dist/dirtbot/Half-Life 2 Deathmatch/hl2mp/addons/rcbot2/config/
dist/dirtbot/Source SDK Base/insurgency/addons/rcbot2/config/
dist/dirtbot/Source SDK Base 2007/insurgency/addons/rcbot2/config/
dist/dirtbot/Team Fortress 2/tf/addons/rcbot2/config/
